html
    head 
        link(rel='stylesheet' href='../styles/style.css' type='text/css')
        title= title 
    body 
        div(class='centre')
            h1= title 
            ul(class='verticalList')
                each player in players
                    li
                        span= player.nickname + ": " + player.score
                        br
                        span= 'Players Fooled: '
                        for fooledPlayer, index in player.playersChoosing 
                            span= fooledPlayer
                            if (index < player.playersChoosing.length - 1)
                                span= ', '

